@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');



html{
  font-family: 'Exo 2', sans-serif;
  background: antiquewhite;
    text-align: center;

}
/* Updating soon  */
main {
  /* max-width: 100%;
    text-align: center; */
  width: 50%;
  text-align: left;
  margin: auto;
}

h1 {
  text-align: center;
  color: rgb(87, 36, 145);
  text-shadow: 2px 2px #a0a9c8;
}

ol,
li,
a {
  /* text-decoration: none; */
  list-style-type: none;
  align-items: center;
  text-align: center;
}

body > button{
    background: aliceblue;
}

body > main > button{
    background: aliceblue;
}
